<% y_prev = if @month == 1, do: @year - 1, else: @year
y_next = if @month == 12, do: @year + 1, else: @year
m_prev = if @month == 1, do: 12, else: @month - 1
m_next = if @month == 12, do: 1, else: @month + 1 %>

<section class="font-semibold">
  <!--
██╗   ██╗███████╗ █████╗ ██████╗ 
╚██╗ ██╔╝██╔════╝██╔══██╗██╔══██╗
 ╚████╔╝ █████╗  ███████║██████╔╝
  ╚██╔╝  ██╔══╝  ██╔══██║██╔══██╗
   ██║   ███████╗██║  ██║██║  ██║
   ╚═╝   ╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝
  -->
  <table class="w-10/12 mx-auto table-fixed mt-4 text-center">
    <thead>
      <tr>
        <td class="">
          <%= @year %>
        </td>
      </tr>
    </thead>
  </table>
  <!--  
███╗   ███╗ ██████╗ ███╗   ██╗████████╗██╗  ██╗███████╗
████╗ ████║██╔═══██╗████╗  ██║╚══██╔══╝██║  ██║██╔════╝
██╔████╔██║██║   ██║██╔██╗ ██║   ██║   ███████║███████╗
██║╚██╔╝██║██║   ██║██║╚██╗██║   ██║   ██╔══██║╚════██║
██║ ╚═╝ ██║╚██████╔╝██║ ╚████║   ██║   ██║  ██║███████║
╚═╝     ╚═╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝╚══════╝ 
  -->
  <table class="w-10/12 text-center mx-auto table-fixed mb-4">
    <thead>
      <tr>
        <td class="w-1/12 bg-gray-100 border border-gray-400">
          <a href={"/#{y_prev}/#{m_prev}"} class="block">&lt;</a>
        </td>
        <%= for {m, i} <- Enum.with_index(["Januari", "Februari", "Mars", "April", "Maj", "Juni", "Juli", "Augusti", "September", "Oktober", "November", "December"], 1) do %>
          <td class={"w-3/12 #{if i == @month, do: 'bg-blue-200', else: 'bg-gray-100'} border border-gray-400"}>
            <a href={"/#{@year}/#{i}"} class="block"><%= m %></a>
          </td>
        <% end %>
        <td class="w-1/12 bg-gray-100 border border-gray-400">
          <a href={"/#{y_next}/#{m_next}"} class="block">&gt;</a>
        </td>
      </tr>
    </thead>
  </table>
  <!--
 ██████╗ █████╗ ██╗     ███████╗███╗   ██╗██████╗  █████╗ ██████╗ 
██╔════╝██╔══██╗██║     ██╔════╝████╗  ██║██╔══██╗██╔══██╗██╔══██╗
██║     ███████║██║     █████╗  ██╔██╗ ██║██║  ██║███████║██████╔╝
██║     ██╔══██║██║     ██╔══╝  ██║╚██╗██║██║  ██║██╔══██║██╔══██╗
╚██████╗██║  ██║███████╗███████╗██║ ╚████║██████╔╝██║  ██║██║  ██║
 ╚═════╝╚═╝  ╚═╝╚══════╝╚══════╝╚═╝  ╚═══╝╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
  -->
  <table class="font-semibold w-10/12 text-center mx-auto table-fixed">
    <thead>
      <tr>
        <td class="w-2/12 bg-gray-100 border border-gray-400">
          Vecka
        </td>
        <%= for day <- ["Måndag", "Tisdag", "Onsdag", "Torsdag", "Fredag", "Lördag", "Söndag"] do %>
          <td class="w-5/12 bg-gray-100 border border-gray-400">
            <%= day %>
          </td>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%= for %{"week" => week, "days" => days} <- @data["weeks"] do %>
        <tr>
          <td class="w-2/12 border border-gray-400 font-bold">
            <%= "#{week}" %>
          </td>
          <%= for day <- days do %>
            <% is_same_month = day["date"]["month"] == @month
            is_off = Map.has_key?(day, "off")

            bg_class =
              cond do
                is_off == true && is_same_month == false ->
                  "bg-red-200 opacity-50"

                is_off == true && is_same_month == true ->
                  "bg-red-200"

                is_off == false && is_same_month == false ->
                  "bg-gray-200 opacity-50"

                true ->
                  ""
              end %>
            <td class={"p-0 w-5/12 border border-gray-400 #{bg_class}"}>
              <% d =
                if day["date"]["day"] == 1 do
                  "#{Month.to_name(day["date"]["month"])}"
                else
                  day["date"]["day"]
                end

              d_class =
                if day["date"]["day"] == 1 do
                  "font-bold text-xl"
                else
                  "font-bold"
                end %>

              <table class="w-full text-xl font-bold table-fixed">
                <tbody>
                  <tr>
                    <td class="w-1/2 p-0 text-left">
                      <span class="ml-1"><%= d %></span>
                    </td>
                    <td class="w-1/2 p- text-right">
                      <%= if Map.has_key?(day, "flagday") do %>
                        <span title={"#{day["flagday"]}"} class="mr-0.5 text-2xl leading-4">
                          🇸🇪&nbsp
                        </span>
                      <% end %>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="text-left font-medium whitespace-nowrap">
                <%= if Map.has_key?(day, "name") do %>
                  <span class="ml-1"><%= day["name"] %></span>
                <% else %>
                  &nbsp
                <% end %>
              </div>
              <br />
              <br />
              <div class="mb-0.5 text-left align-text-bottom text-sm italic font-normal whitespace-nowrap">
                <%= if Map.has_key?(day, "name_days") do %>
                  <span class="ml-1"><%= Enum.join(day["name_days"], ", ") %></span>
                <% else %>
                  &nbsp
                <% end %>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
