<% y_prev = if @month == 1, do: @year - 1, else: @year
y_next = if @month == 12, do: @year + 1, else: @year
m_prev = if @month == 1, do: 12, else: @month - 1
m_next = if @month == 12, do: 1, else: @month + 1 %>

<style>
  .bg-gray-200-striped {
    background: repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 3px,
        rgba(0, 0, 0, 0.4) 4px,
        transparent 5px
      ),
      rgb(229, 231, 235);
  }
  .bg-red-200-striped {
    background: repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 3px,
        rgba(0, 0, 0, 0.4) 4px,
        transparent 5px
      ),
      rgb(254, 202, 202);
  }
</style>

<section class="font-semibold text-normal">
  <!--
██╗   ██╗███████╗ █████╗ ██████╗ 
╚██╗ ██╔╝██╔════╝██╔══██╗██╔══██╗
 ╚████╔╝ █████╗  ███████║██████╔╝
  ╚██╔╝  ██╔══╝  ██╔══██║██╔══██╗
   ██║   ███████╗██║  ██║██║  ██║
   ╚═╝   ╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝
  -->
  <table class="w-10/12 mx-auto table-fixed mt-4 text-center">
    <thead>
      <tr>
        <td class="">
          <%= @year %>
        </td>
      </tr>
    </thead>
  </table>
  <!--  
███╗   ███╗ ██████╗ ███╗   ██╗████████╗██╗  ██╗███████╗
████╗ ████║██╔═══██╗████╗  ██║╚══██╔══╝██║  ██║██╔════╝
██╔████╔██║██║   ██║██╔██╗ ██║   ██║   ███████║███████╗
██║╚██╔╝██║██║   ██║██║╚██╗██║   ██║   ██╔══██║╚════██║
██║ ╚═╝ ██║╚██████╔╝██║ ╚████║   ██║   ██║  ██║███████║
╚═╝     ╚═╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝╚══════╝ 
  -->
  <table class="w-10/12 text-center mx-auto table-fixed mb-4">
    <thead>
      <tr>
        <td class="w-1/12 bg-gray-100 border border-gray-400">
          <a href={"/#{y_prev}/#{m_prev}"} class="block">&lt;</a>
        </td>
        <%= for {m, i} <- Enum.with_index(["Januari", "Februari", "Mars", "April", "Maj", "Juni", "Juli", "Augusti", "September", "Oktober", "November", "December"], 1) do %>
          <td class={"w-3/12 #{if i == @month, do: 'bg-blue-200', else: 'bg-gray-100'} border border-gray-400"}>
            <a href={"/#{@year}/#{i}"} class="block"><%= m %></a>
          </td>
        <% end %>
        <td class="w-1/12 bg-gray-100 border border-gray-400">
          <a href={"/#{y_next}/#{m_next}"} class="block">&gt;</a>
        </td>
      </tr>
    </thead>
  </table>
  <!--
 ██████╗ █████╗ ██╗     ███████╗███╗   ██╗██████╗  █████╗ ██████╗ 
██╔════╝██╔══██╗██║     ██╔════╝████╗  ██║██╔══██╗██╔══██╗██╔══██╗
██║     ███████║██║     █████╗  ██╔██╗ ██║██║  ██║███████║██████╔╝
██║     ██╔══██║██║     ██╔══╝  ██║╚██╗██║██║  ██║██╔══██║██╔══██╗
╚██████╗██║  ██║███████╗███████╗██║ ╚████║██████╔╝██║  ██║██║  ██║
 ╚═════╝╚═╝  ╚═╝╚══════╝╚══════╝╚═╝  ╚═══╝╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
  -->
  <table class="w-10/12 text-center mx-auto table-fixed">
    <thead>
      <tr>
        <td class="w-2/12 bg-gray-100 border border-gray-400">
          Vecka
        </td>
        <%= for day <- ["Måndag", "Tisdag", "Onsdag", "Torsdag", "Fredag", "Lördag", "Söndag"] do %>
          <td class="w-5/12 bg-gray-100 border border-gray-400">
            <%= day %>
          </td>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%= for %{"week" => week, "days" => days} <- @data["weeks"] do %>
        <tr>
          <td class="w-2/12 border border-gray-400">
            <%= "#{week}" %>
          </td>
          <%= for day <- days do %>
            <% is_same_month = day["date"]["month"] == @month
            is_off = Map.has_key?(day, "off")

            d_class_off =
              if is_same_month do
                "bg-red-200"
              else
                "bg-red-200-striped"
              end

            d_class_working =
              if is_same_month do
                ""
              else
                "bg-gray-200-striped"
              end %>
            <td class={"p-0 w-5/12 border border-gray-400 #{if is_same_month == false, do: 'opacity-50'} #{if is_off == true, do: d_class_off, else: d_class_working}"}>
              <% first_day = day["date"]["day"] == 1 %>
              <table class="w-full text-xl table-fixed">
                <tbody>
                  <tr>
                    <td class="w-1/2 p-0 text-left">
                      <span class="ml-1">
                        <%= if first_day do
                          "#{Month.to_name(day["date"]["month"])}"
                        else
                          day["date"]["day"]
                        end %>
                      </span>
                    </td>
                    <td class="w-1/2 p- text-right">
                      <%= if Map.has_key?(day, "flagday") do %>
                        <span title={"#{day["flagday"]}"} class="mr-1 text-2xl leading-4">
                          🇸🇪
                        </span>
                      <% end %>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="text-left font-medium whitespace-nowrap">
                <%= if Map.has_key?(day, "name") do %>
                  <span class="ml-1"><%= day["name"] %></span>
                <% else %>
                  &nbsp
                <% end %>
              </div>
              <br />
              <br />
              <div class="mb-0.5 text-left align-text-bottom text-sm italic font-normal whitespace-nowrap">
                <%= if Map.has_key?(day, "name_days") do %>
                  <span class="ml-1"><%= Enum.join(day["name_days"], ", ") %></span>
                <% else %>
                  &nbsp
                <% end %>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
